
@model List<Car>

 <h1>Cars List</h1>

<table class="table table-striped-columns">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Engine</th>
            <th scope="col">Year</th>
            <th scope="col">Price</th>
            <th scope="col">Availability</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <th scope="row">@i.Id</th>
                <td>@i.Brand</td>
                <td>@i.Model</td>
                <td>@i.Engine</td>
                <td>@i.Year.ToShortDateString()</td>
                <td>
                    @if(i.Discount > 0)
					{
						<del>@i.Price$</del>
                        <span>@(i.Price - (i.Price / 100 * i.Discount))$</span>
                    }
                    else
                    {
                        <span>@i.Price$</span>
                    }
                </td>
				<td>
                    @if (i.Quantity > 0)
                    {
                        <span class="badge bg-primary">Available</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Ended</span>
                    }
                </td>
            </tr>
        }
       
    </tbody>
</table>
