@model List<CarDto>


<div class="row row-cols-3 g-4">
	@foreach (var i in Model)
	{
		<div class="col d-flex">
			<div class="card flex-fill" style="width: 18rem;">
				<img src="@i.ImageUrl" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">@i.BrandName @i.Model</h5>
					<p class="card-text">@i.Description</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Category: @i.CategoryName</li>
					<li class="list-group-item">Color: @i.Color</li>
					<li class="list-group-item">Engine: @i.EngineDisplay (@i.Hp hp)</li>
					<li class="list-group-item">Year: @i.Year.Year</li>
					<li class="list-group-item">
						@if (i.Discount > 0)
						{
							<span>@(i.Price - (i.Price / 100 * i.Discount))$</span>
							<del>@i.Price$</del>
						}
						else
						{
							<span>@i.Price$</span>
						}
					</li>
					<li class="list-group-item">
						@if (i.Quantity > 0)
						{
							<span class="badge bg-success">Available</span>
						}
						else
						{
							<span class="badge bg-danger">Ended</span>
						}
					</li>
				</ul>
				<div class="card-body">
					<a asp-controller="Cart" asp-action="Add" asp-route-id="@i.Id" asp-route-returnUrl="@Context.Request.Path" class="btn btn-outline-primary"><i class="bi bi-bag-plus-fill"></i></a>
					<a asp-controller="Cars" asp-action="Details" asp-route-id="@i.Id" class="btn btn-outline-info"><i class="bi bi-info-square-fill"></i></a>
				</div>
			</div>
		</div>
	}
	
</div>
