@model List<CarDto>




<div class="row row-cols-3 g-4">
	@foreach (var i in Model)
	{
		<div class="col">
			<div class="card" style="width: 18rem;">
				<img src="@i.ImageUrl" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title">@i.BrandName @i.Model</h5>
					<p class="card-text">@i.Description</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Category: @i.CategoryName</li>
					<li class="list-group-item">Engine: @i.EngineDisplay</li>
					<li class="list-group-item">Year: @i.Year</li>
					<li class="list-group-item">
						@if (i.Discount > 0)
						{
							<span>@(i.Price - (i.Price / 100 * i.Discount))$</span>
							<del>@i.Price$</del>
						}
						else
						{
							<span>@i.Price$</span>
						}
					</li>
					<li class="list-group-item">
						@if (i.Quantity > 0)
						{
							<span class="badge bg-success">Available</span>
						}
						else
						{
							<span class="badge bg-danger">Ended</span>
						}
					</li>
				</ul>
			</div>
		</div>
	}
	
</div>
